<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<import resource="config/DataSource.xml" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

	</bean>
	
	
	<!-- Item dependencies -->
	<bean id="itemDAO" class="com.saasforedu.irro.dao.impl.ItemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="itemService" class="com.saasforedu.irro.service.impl.ItemServiceImpl">
		<property name="itemDAO" ref="itemDAO" />
	</bean>	
	
	<bean id="itemAction" class="com.saasforedu.irro.action.ItemAction" scope="prototype">
		<property name="itemService" ref="itemService" /> 
	</bean>
	
	<bean id="itemSearchAction" class="com.saasforedu.irro.action.ItemSearchAction" scope="prototype">
		<property name="itemService" ref="itemService" /> 
	</bean>


	<bean id="eventDAO" class="com.saasforedu.irro.dao.impl.EventDAO"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="eventService" class="com.saasforedu.irro.service.impl.EventServiceImpl"  scope="prototype">
		<property name="eventDAO" ref="eventDAO" />
	</bean>	
	
	<bean id="eventAction" class="com.saasforedu.irro.action.EventAction" scope="prototype">
		<property name="eventService" ref="eventService" /> 
	</bean>
	
	<!-- User dependencies -->
	<bean id="userDAO" class="com.saasforedu.irro.dao.impl.UserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userGroupDAO" class="com.saasforedu.irro.dao.impl.UserGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userService" class="com.saasforedu.irro.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
	</bean>
	
	<bean id="userGroupService" class="com.saasforedu.irro.service.impl.UserGroupServiceImpl">
		<property name="userGroupDAO" ref="userGroupDAO" />
		<property name="userService" ref="userService" /> 
	</bean>
	
	<bean id="userAction" class="com.saasforedu.irro.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" /> 
		<property name="userGroupService" ref="userGroupService" />
	</bean>
	
	<bean id="userAdminPermissionAction" class="com.saasforedu.irro.action.UserAdminPermissionAction" scope="prototype">
		<property name="userService" ref="userService" /> 
		<property name="userGroupService" ref="userGroupService" />
	</bean>
	
	<bean id="userAdminAction" class="com.saasforedu.irro.action.UserAdminAction" scope="prototype">
		<property name="userService" ref="userService" />		
	</bean>
	
	<!-- institute -->
	<bean id="rectorDAO" class="com.saasforedu.irro.dao.institute.impl.RectorDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="rectorService" class="com.saasforedu.irro.service.institute.impl.RectorServiceImpl">
		<property name="rectorDAO" ref="rectorDAO" />
	</bean>	
	
	<bean id="institutionAction" class="com.saasforedu.irro.action.InstitutionAction">
		<property name="rectorService" ref="rectorService" /> 
	</bean>
	
	<bean id="branchOfficeDAO" class="com.saasforedu.irro.dao.institute.impl.BranchOfficeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="branchOfficeService" class="com.saasforedu.irro.service.institute.impl.BranchOfficeServiceImpl">
		<property name="branchOfficeDAO" ref="branchOfficeDAO" />
	</bean>
	
	<bean id="documentDAO" class="com.saasforedu.irro.dao.institute.impl.DocumentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="documentService" class="com.saasforedu.irro.service.institute.impl.DocumentServiceImpl">
		<property name="documentDAO" ref="documentDAO" />	
	</bean>

	<bean id="instituteDetailsDAO" class="com.saasforedu.irro.dao.institute.impl.InstituteDetailsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="instituteDetailsService" class="com.saasforedu.irro.service.institute.impl.InstituteDetailsServiceImpl">
		<property name="instituteDetailsDAO" ref="instituteDetailsDAO" />	
	</bean>
	
	<bean id="instituteDAO" class="com.saasforedu.irro.dao.institute.impl.InstituteDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="instituteService" class="com.saasforedu.irro.service.institute.impl.InstituteServiceImpl">
		<property name="instituteDAO" ref="instituteDAO" />	
	</bean>
				
	<!-- activities -->

	<bean id="activityDAO" class="com.saasforedu.irro.dao.activities.impl.ActivityDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="newsService" class="com.saasforedu.irro.service.activities.impl.ActivityServiceImpl">
		<property name="activityDAO" ref="activityDAO" />	
	</bean>	
	
	<bean id="contestDAO" class="com.saasforedu.irro.dao.activities.impl.ContestDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="contestService" class="com.saasforedu.irro.service.activities.impl.ContestServiceImpl">
		<property name="contestDAO" ref="contestDAO" />	
	</bean>	

	<bean id="educationalActivityDAO" class="com.saasforedu.irro.dao.activities.impl.EducationalActivityDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="educationalActivityService" class="com.saasforedu.irro.service.activities.impl.EducationalActivityServiceImpl">
		<property name="educationalActivityDAO" ref="educationalActivityDAO" />	
	</bean>	

	<bean id="olympicDAO" class="com.saasforedu.irro.dao.activities.impl.OlympicDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="olympicService" class="com.saasforedu.irro.service.activities.impl.OlympicServiceImpl">
		<property name="olympicDAO" ref="olympicDAO" />	
	</bean>	
			
	<!-- certifications -->

	<bean id="certificateDAO" class="com.saasforedu.irro.dao.certifications.impl.CertificateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="certificateService" class="com.saasforedu.irro.service.certifications.impl.CertificateServiceImpl">
		<property name="certificateDAO" ref="certificateDAO" />	
	</bean>	

	<bean id="employeeDAO" class="com.saasforedu.irro.dao.certifications.impl.EmployeeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="employeeService" class="com.saasforedu.irro.service.certifications.impl.EmployeeServiceImpl">
		<property name="employeeDAO" ref="employeeDAO" />	
	</bean>	

	<bean id="graduateDAO" class="com.saasforedu.irro.dao.certifications.impl.GraduateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="graduateService" class="com.saasforedu.irro.service.certifications.impl.GraduateServiceImpl">
		<property name="graduateDAO" ref="graduateDAO" />	
	</bean>	
				
	<!-- news -->

	<bean id="newsDAO" class="com.saasforedu.irro.dao.news.impl.NewsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="newsEventService" class="com.saasforedu.irro.service.news.impl.NewsServiceImpl">
		<property name="newsDAO" ref="newsDAO" />	
	</bean>	
	
	<!-- project -->
	<bean id="basicDAO" class="com.saasforedu.irro.dao.project.impl.BasicDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="basicService" class="com.saasforedu.irro.service.project.impl.BasicServiceImpl">
		<property name="basicDAO" ref="basicDAO" />	
	</bean>		

	<bean id="continuingEducationDAO" class="com.saasforedu.irro.dao.project.impl.ContinuingEducationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="continuingEducationService" class="com.saasforedu.irro.service.project.impl.ContinuingEducationServiceImpl">
		<property name="continuingEducationDAO" ref="continuingEducationDAO" />	
	</bean>			
	
	<bean id="projectDAO" class="com.saasforedu.irro.dao.project.impl.ProjectDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="projectService" class="com.saasforedu.irro.service.project.impl.ProjectServiceImpl">
		<property name="projectDAO" ref="projectDAO" />	
	</bean>	

	<bean id="sverdlovskDAO" class="com.saasforedu.irro.dao.project.impl.SverdlovskDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="sverdlovskService" class="com.saasforedu.irro.service.project.impl.SverdlovskServiceImpl">
		<property name="sverdlovskDAO" ref="sverdlovskDAO" />	
	</bean>		
	
	
	<!--  File Upload  -->
	<bean id="fileArticleDAO" class="com.saasforedu.irro.dao.impl.FileArticleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fileArticleService" class="com.saasforedu.irro.service.impl.FileArticleServiceImpl">
		<property name="fileArticleDAO" ref="fileArticleDAO" />
	</bean>	
	
	<bean id="fileUploadAction" class="com.saasforedu.irro.action.FileUploadAction" scope="prototype">
		<property name="fileArticleService" ref="fileArticleService" /> 
	</bean>
	
</beans>
