<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<import resource="config/DataSource.xml" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

	</bean>
	
	
	<!-- Item dependencies -->
	<bean id="itemDAO" class="com.saasforedu.irro.dao.impl.ItemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="itemService" class="com.saasforedu.irro.service.impl.ItemServiceImpl">
		<property name="itemDAO" ref="itemDAO" />
	</bean>	
	
	<bean id="itemAction" class="com.saasforedu.irro.action.ItemAction" scope="prototype">
		<property name="itemService" ref="itemService" /> 
	</bean>
	
	<bean id="itemSearchAction" class="com.saasforedu.irro.action.ItemSearchAction" scope="prototype">
		<property name="itemService" ref="itemService" /> 
	</bean>

	<bean id="eventDAO" class="com.saasforedu.irro.dao.impl.EventDAO"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="eventService" class="com.saasforedu.irro.service.impl.EventServiceImpl"  scope="prototype">
		<property name="eventDAO" ref="eventDAO" />
	</bean>	
	
	<bean id="eventAction" class="com.saasforedu.irro.action.EventAction" scope="prototype">
		<property name="eventService" ref="eventService" /> 
	</bean>
	
</beans>