<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:annotation-config />
	<tx:annotation-driven/>
	<import resource="config/DataSource.xml" />
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>

	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Item dependencies -->
	<bean id="itemDAO" class="com.saasforedu.irro.dao.impl.ItemDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="itemService" class="com.saasforedu.irro.service.impl.ItemServiceImpl">
		<property name="itemDAO" ref="itemDAO" />
		<property name="fileUploadService" ref="fileUploadService" />
	</bean>	
	
	<bean id="itemAction" class="com.saasforedu.irro.action.ItemAction" scope="prototype">
		<property name="itemService" ref="itemService" />
	</bean>
	
	<bean id="itemSearchAction" class="com.saasforedu.irro.action.ItemSearchAction" scope="prototype">
		<property name="itemService" ref="itemService" />
		<property name="eventService" ref="eventService" />
		<property name="newsService" ref="newsService" />
		<property name="menuService" ref="menuService"/>		
	</bean>


	<bean id="eventDAO" class="com.saasforedu.irro.dao.impl.EventDAO"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="eventService" class="com.saasforedu.irro.service.impl.EventServiceImpl"  scope="prototype">
		<property name="eventDAO" ref="eventDAO" />
		<property name="fileUploadService" ref="fileUploadService" />		
	</bean>	
	
	<bean id="eventAction" class="com.saasforedu.irro.action.EventAction" scope="prototype">
		<property name="eventService" ref="eventService" />
	</bean>
	
	<!-- MenuMetadata Action -->
	
	<bean id="menuMetadataDAO" class="com.saasforedu.irro.dao.impl.MenuMetadataDAOImpl"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="menuMetadataService" class="com.saasforedu.irro.service.impl.MenuMetadataServiceImpl"  scope="prototype">
		<property name="menuMetadataDAO" ref="menuMetadataDAO" />
		<property name="userGroupService" ref="userGroupService" />
	</bean>
	
	<bean id="menuMetadataAction" class="com.saasforedu.irro.action.MenuMetadataAction" scope="prototype">
		<property name="menuMetadataService" ref="menuMetadataService" />
	</bean>
	
	<!--  File Upload  -->
	
	<bean id="fileUploadService" class="com.saasforedu.irro.service.impl.FileUploadServiceImpl" scope="prototype">
	</bean>
	
	<!-- Article Action -->
	
	<bean id="articleDAO" class="com.saasforedu.irro.article.dao.impl.ArticleDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="articleService" class="com.saasforedu.irro.article.service.impl.ArticleServiceImpl">
		<property name="articleDAO" ref="articleDAO" />
		<property name="menuMetadataService" ref="menuMetadataService" />
		<property name="fileUploadService" ref="fileUploadService" />
	</bean>
	
	<bean id="articleAction" class="com.saasforedu.irro.article.action.ArticleAction">
		<property name="articleService" ref="articleService" />
	</bean>
	
	<bean id="menuBaseAction" class="com.saasforedu.irro.article.action.MenuBaseAction">
		<property name="menuService" ref="menuService"/>
	</bean>
	
	<!-- News Action -->
	
	<bean id="newsDAO" class="com.saasforedu.irro.article.dao.impl.NewsDAO"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="newsService" class="com.saasforedu.irro.article.service.impl.NewsServiceImpl"  scope="prototype">
		<property name="newsDAO" ref="newsDAO" />
		<property name="menuMetadataService" ref="menuMetadataService" />
		<property name="fileUploadService" ref="fileUploadService" />
	</bean>	
	
	<bean id="newsAction" class="com.saasforedu.irro.article.action.NewsAction" scope="prototype">
		<property name="newsService" ref="newsService" />
		<property name="menuAttachmentService" ref="menuAttachmentService" />
	</bean>
	
	
	<!-- Menu File Attachment Action -->
	
	<bean id="menuAttachmentDAO" class="com.saasforedu.irro.article.dao.impl.MenuAttachmentDAOImpl"  scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="menuAttachmentService" class="com.saasforedu.irro.article.service.impl.MenuAttachmentServiceImpl"  scope="prototype">
		<property name="menuAttachmentDAO" ref="menuAttachmentDAO" />
		<property name="menuMetadataService" ref="menuMetadataService" />
		<property name="fileUploadService" ref="fileUploadService" />
	</bean>	
	
	<bean id="menuAttachmentAction" class="com.saasforedu.irro.article.action.MenuAttachmentAction" scope="prototype">
		<property name="menuAttachmentService" ref="menuAttachmentService" />
	</bean>
	
	<!-- User dependencies -->
	<bean id="userDAO" class="com.saasforedu.irro.dao.impl.UserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userGroupDAO" class="com.saasforedu.irro.dao.impl.UserGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userService" class="com.saasforedu.irro.service.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
	</bean>
	
	<bean id="userGroupService" class="com.saasforedu.irro.service.impl.UserGroupServiceImpl">
		<property name="userGroupDAO" ref="userGroupDAO" />
		<property name="userService" ref="userService" /> 
	</bean>
	
	<bean id="userAction" class="com.saasforedu.irro.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" /> 
		<property name="userGroupService" ref="userGroupService" />
	</bean>
	
	<bean id="userAdminPermissionAction" class="com.saasforedu.irro.action.UserAdminPermissionAction" scope="prototype">
		<property name="userService" ref="userService" /> 
		<property name="userGroupService" ref="userGroupService" />
	</bean>
	
	<bean id="userAdminAction" class="com.saasforedu.irro.action.UserAdminAction" scope="prototype">
		<property name="userService" ref="userService" />		
	</bean>
	
	<bean id="menuService" class="com.saasforedu.irro.service.impl.MenuService">
		<property name="menuMetadataService" ref="menuMetadataService"/>
	</bean>

</beans>
