<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    
        <!-- Article -->
        
        <mapping class="com.saasforedu.irro.article.entity.impl.Article" />
        <mapping class="com.saasforedu.irro.article.entity.impl.News" />
        <mapping class="com.saasforedu.irro.model.impl.Item" />
        <mapping class="com.saasforedu.irro.model.impl.Event" />
        <mapping class="com.saasforedu.irro.model.impl.MenuMetadata" />
        
        <mapping class="com.saasforedu.irro.model.impl.ArticleAttachment" />
        <mapping class="com.saasforedu.irro.model.impl.ItemAttachment" />
        <mapping class="com.saasforedu.irro.model.impl.EventAttachment" />
        <mapping class="com.saasforedu.irro.model.impl.NewsAttachment" />
        
        <!-- User -->
        <mapping class="com.saasforedu.irro.model.impl.User" />
        <mapping class="com.saasforedu.irro.model.impl.UserGroup" />
        <mapping class="com.saasforedu.irro.model.impl.UserPermission" />
        
       
        
    </session-factory>
    
</hibernate-configuration>