<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.saasforedu.irro.model.impl.Item" />
        <mapping class="com.saasforedu.irro.model.impl.Event" />
        
        <!-- activities -->
        <mapping class="com.saasforedu.irro.model.activities.impl.Activity" />
        <mapping class="com.saasforedu.irro.model.activities.impl.Contest" />
        <mapping class="com.saasforedu.irro.model.activities.impl.EducationalActivity" />
        <mapping class="com.saasforedu.irro.model.activities.impl.Olympic" />
        
        <!-- certifications -->
        <mapping class="com.saasforedu.irro.model.certifications.impl.Certificate" />
        <mapping class="com.saasforedu.irro.model.certifications.impl.Employee" />
        <mapping class="com.saasforedu.irro.model.certifications.impl.Graduate" />
        
        <!-- institute -->
        <mapping class="com.saasforedu.irro.model.institute.impl.BranchOffice" />
        <mapping class="com.saasforedu.irro.model.institute.impl.Document" />
        <mapping class="com.saasforedu.irro.model.institute.impl.Institute" />
        <mapping class="com.saasforedu.irro.model.institute.impl.InstituteDetails" />
        <mapping class="com.saasforedu.irro.model.institute.impl.Rector" />
        
        <!-- news -->
        <mapping class="com.saasforedu.irro.model.news.impl.News" />
        
        <!-- projects -->
        <mapping class="com.saasforedu.irro.model.projects.impl.Basic" />
        <mapping class="com.saasforedu.irro.model.projects.impl.ContinuingEducation" />
        <mapping class="com.saasforedu.irro.model.projects.impl.Project" />
        <mapping class="com.saasforedu.irro.model.projects.impl.Sverdlovsk" />
        
        <!-- User -->
        <mapping class="com.saasforedu.irro.model.impl.User" />
        <mapping class="com.saasforedu.irro.model.impl.UserGroup" />
        <mapping class="com.saasforedu.irro.model.impl.UserPermission" />
        
    </session-factory>
    
</hibernate-configuration>