.top {
 margin: 0px 0px 0px 100px;
    height: 50px;
    background-color: white;
    width: 950px;
    list-style: none;
}
.top ul li {
    padding: 2px 2px 0px 6px;
    display: block;
    float: left;
}

.top nav {
	display:inline;	
}

.nav2 {
   	width: 1000px;
	left: 0px;
	position: relative;
	z-index: 10;
	float: left;
	list-style: none outside none;
   }


.nav2 ul {
    width: 1000px;
    padding-top: 20px;
    position: relative;
   }

.nav2 li {
    width: 121px;
    border-right: 1px solid rgb(233, 233, 233);
    height: 10px;
    padding-bottom: 15px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
    font-family: "Open Sans";     
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
     box-sizing:content-box;
}

.nav2 li a{
color: rgb(6, 85, 117);
text-decoration: none;
font-family: "Open Sans";

}
.nav2 li:hover, .nav2 li:focus {
    background: url("00396a.gif") repeat scroll 0px 99% ;
background-color: rgb(88, 103, 168);
}



.overlayer-menu {
    width: 998px;
    position:absolute;
    color: rgb(255, 255, 255);
    line-height: 1.3em;
    left: 0px;
    padding: 26px 0px;
    display: none;
    z-index: 40;
    background-color: rgb(88, 103, 168);
}

.showlinks .overlayer-menu{display:block;}

.overlayer-menu .cont{
background:url("lenzuolo_bg.gif") 0 0 repeat-y;
float:left;
font-size:12px;

}

.overlayer-menu.menu-5c .cont{
	background-image:none!important;
}

.overlayer-menu.menu-5c .cont nav{
 height:500px;
width:189px;
border-left-style:solid;
border-left-width:1px;
padding:0 0 0 9px!important;
position:relative;
float:left;
}



.overlayer-menu.menu-5c .cont nav > *{
width:160px;}

.overlayer-menu.menu-5c .cont nav.large h3{
width:90%;text-align:center;

}

.overlayer-menu .cont nav a {
    color: rgb(174, 174, 174);
}

.overlayer-menu .cont nav h3{
font-size:16px;padding-bottom:10px;}


.overlayer-menu .cont nav h3 a{
color:#fff;
text-decoration:none;
}
.overlayer-menu .cont nav a:hover{color:#fff;}

.overlayer-menu.menu-5c .cont nav:nth-child(1){
position:relative;
left:7px;
border-style:none;
}

.overlayer-menu .cont nav .sotto-nav{
margin-bottom:14px;
}

.overlayer-menu .cont nav .sotto-nav a{
text-decoration:none;
}

.overlayer-menu .cont nav .sotto-nav a:hover{
color:#fff;
}

.overlayer-menu .cont span, .overlayer-menu .cont nav h4 {
    display: block;
    padding-bottom: 5px;
    max-width: 160px;
}

.overlayer-menu.menu-5c .cont nav.large .sotto-nav{float:left;width:195px!important;}

.overlayer-menu.menu-5c .cont nav.large .sotto-nav > *{display:block;width:160px!important;}
.overlayer-menu.menu-5c  .cont nav:nth-child(2) {
padding-bottom:10px;
}
.overlayer-menu .cont nav:nth-child(2), .overlayer-menu .cont nav:nth-child(3){
padding-right:62px; 
}