#cssmenu ul {
list-style-type:none;
width:auto;
position:relative;
display:block;
height:33px;
font-size:.6em;
background:url(images/bg.png) repeat-x top left;
font-family:Verdana,Helvetica,Arial,sans-serif;
border:1px solid #000;
margin:0;
padding:0;
}

#cssmenu li {
display:block;
float:right;
margin:0;
padding:0;
}

#cssmenu li a {
float:left;
color:black;
text-decoration:none;
/*height:24px;*/
padding:9px 15px 0;
font-weight:normal;
}

#cssmenu li a:hover,
#cssmenu .active {
color:#fff;
background:url(images/bg.png) repeat-x top left;
text-decoration:none;
}

#cssmenu .active a {
color:#fff;
font-weight:700;
}

#cssmenu ul{
background-color:rgb(255, 255, 255);
}
#cssmenu li a:hover, 
#cssmenu li.active {
background-color:#F46D00;
}


#navbar {
	position: relative;
	margin: 0px;
	float: left;
    padding: 0px;
	overflow: hidden;
    z-index: 10;
}

#navbar ul {
	position: relative;
	margin: 0px;
	float: left;
    	padding-left: 0px;
	width:1000px;
	display:inline-table;
    	z-index: 10;
}

#navbar ul li {
	list-style: none;
        float:left;
       display:inline-table;
}

#navbar li {
	list-style: none;
        overflow: hidden;	
	display:block;
	font-size:16px;
}


#navbar li a {
	display: block;
	padding: 3px 50px;
	background-color: white;
	color: rgb(6,85,117);
	text-decoration: none;	
    font-family : "Open Sans";
}

#navbar li ul {
	color: #fff;
	display: none;	
    position:left;	
	background-color: rgb(88,103,168);
	height:350px;
	margin : 16px 0px 0px 0px;	
}

#navbar li:hover ul {
display: inline-block;
position: relative;
height:350px;
margin : 16px 0px 0px 0px;
float: left;
}

#navbar li:hover li {
	float: none; 
	width: 200%;
}

#navbar li:hover li a {
	background-color: rgb(88,103,168);
        color: #fff;
        font-size:10px;		
}

#navbar li li a:hover {
	color: #fff;
	background-color: rgb(88,103,168); 
}